/* Base styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main App container styles */
.App {
  text-align: center;
}

/* Header styles*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Input field styles */
input {
  margin: 10px;
  padding: 10px;
  font-size: calc(8px + 2vmin);
  width: auto; 
  max-width: 95%; 
}

/* Button styles */
button {
  margin: 10px;
  padding: 10px;
  font-size: calc(8px + 2vmin);
  cursor: pointer; 
  background-color: #61dafb; 
  border: none;
  border-radius: 5px; 
}

/* Responsive for tablets */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(12px + 2vmin);
  }
}

/* Responsive for mobile devices */
@media (max-width: 480px) {
  .App-header {
    font-size: calc(14px + 2vmin);
  }
}
